@page
@model WienCore2019.HTML5demoModel
@{
    ViewData["Title"] = "HTML5demo";
}

<h1>HTML5demo</h1>

<form novalidate>
    <input type="date" required name="eins" />
    <input type="email" required/>
    <input type="range" max="100" required/>
    <button type="submit">senden </button>
</form>