@page 
@addTagHelper *, StuttgartCore

@model StuttgartCore.Pages.modul07.RechnungenPagingModel
@{
    ViewData["Title"] = "RechnungenPaging";
}

<h1>RechnungenPaging</h1>
<table id="table1">
    <vc:rechnung-paged page="0"></vc:rechnung-paged>
</table>
<a href="#" onclick="lade()" class="btn btn-outline-primary">lade...</a>

<script>
    var seite = 0;
    function lade() {
        seite++;
        $.ajax({
            url: 'RechnungenPaging?seite='+seite,
            type: 'POST'
        }).done(function (daten) {
            $('#table1').append(daten);
        });

    }
</script>