@page
@model WienCore2019.calc1Model
@{
    ViewData["Title"] = "calc1";
}

<h1>calc1</h1>
<form method="post">
    <input name="eins" />
    <input name="zwei" />
    <input type="submit" value="+"/>
    @Model.Ergebnis
</form>

