@page
@model WienCore2019.BildUploadModel
@{
    ViewData["Title"] = "BildUpload";
}

<h1>BildUpload</h1>
<div class="row">
    <div class="col">

        <form enctype="multipart/form-data" method="post">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="datei" name="datei">
                <label class="custom-file-label" for="datei">Choose file</label>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

