@page
@model WienCore2019.BildUploadModel
@{
    ViewData["Title"] = "BildUpload";
}

<h1>BildUpload</h1>
<div class="row">
    <div class="col">

        <form enctype="multipart/form-data" method="post">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </form>
    </div>
</div>

