@page
@model WienCore2019.tmpDataModel
@{
    ViewData["Title"] = "tmpData";
}

<h1>tmpData</h1>
<form method="post">
    <input name="wert" />
    <button>save</button>
</form>
@TempData["hannes"] @TempData["hannes"]
